/* Regole generali pagina */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0px 20px;
}

.container::after {
  content: "";
  display: table;
  clear: both;
}

/* first header */

.firstheader {
  background-color: #f5f8fa;
  border-bottom: 2px solid #cbd6e2;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1;
}

.firstheader * {
  text-decoration: none;
}

/* Left firstheader */

.left {
  float: left;
  padding: 25px 0px;
}

.language, .contact a {
  color: #33475b;
  font-size: 15px;
  font-weight: 500;
  display: inline-block;
}

.language {
  font-family: inherit;
  padding-left: 8px;
}

.fas .fa-angle-down {
  font-size: 17px;
  transform: scale(1, .7);
  margin: 0 0 0 2;
}

.lang {
  padding-right: 20px;
  position: relative;
  width: 100%;
}

.contact {
  padding-left: 20px;
  border-left: solid 2px #cbd6e2;
}

.listlang {
  display: none;
  position: absolute;
  left: 30%;
  background-color: #fff;
  border: 1px solid #cbd6e2;
  border-radius: 2px;
  width: 100%;
  padding: 10px 0px;
  list-style: none;
}

.listlang a {
  font-weight: 500;
  color: #33475b;
  font-size: 15px;
}

.listlang li {
  padding: 5px 0px 5px 20px;
}

.listlang li:hover {
  background: #e5f5f8;
}

.lang:hover .listlang {
  display: block;
}

/* Right firstheader */

.right {
  float: right;
  padding: 25px 0px;
}

.search i {
  color: #00a4bd;
  margin: 0px 20px
}

.login a {
  color: #fe7a59;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 25px;
  border: 1px solid #ff7a59;
  background: white;
  margin: 0px 5px;
  border-radius: 5px;
}

.get a {
  color: white;
  font-size: 15px;
  font-weight: 500;
  border: 1px solid #ff7a59;
  background: #fe7a59;
  padding: 10px 10px;
  margin: 0px 5px;
  border-radius: 5px;
}

.login {
  margin-right: 10px;
}

/* Second header */

.secondheader {
  margin-top: 70px;
}

nav {
  margin-top: 70px;
  height: 70px;
}

nav .container {
  position: relative;
  height: 100%;
}

nav img {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}

nav ul {
  float: right;
}

nav li {
  display: inline-block;
  padding: 30px 20px;
}

nav select, nav a {
  border: none;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: #39475b;
}

nav select:hover, nav a:hover {
  color: grey;
}

/* Main */

/* Cover */

.cover {
  background-color: #fff5ef;
  position: relative;
  background-image: url("../img/jumbotron.png");
  background-repeat: no-repeat;
  background-position: top center;
  height: 694px;
  /* height: 100%; */
  /* width: 100%; */
}

.cover .container {
  padding-top: 50px;
}

.titlebox {
  width: 25%;
  position: absolute;
  top: 50px;
}

h1 {
  line-height: 1.3;
  font-size: 40px;
}

.titlebox p {
  font-size: 15px;
  margin-top: 20px;
  line-height: 1.9;
}

.titleget a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border: 1px solid #ff7a59;
  background: #fe7a59;
  padding: 20px 30px;
  border-radius: 5px;
}

.titleget {
  margin-top: 50px;
}

#get-comment {
  font-size: 13px;
  margin-top: 50px;
}

/* Offers */

.offers {
  background-color: #f5f8fa;
}

/* Cubo e testo */

#cubo {
  text-align: center;
  padding: 4% 0 7% 0;
  width: 60%;
  margin: 0 auto;
}

#cubo img {
  width: 20%;
}

.offers h2 {
  font-size: 30px;
}

#cubo p {
  margin-top: 3%;
  line-height: 1.7;
}

/* Learn more */

.more {
  width: 100%;
  background: white;
  height: 35vh;
  position: relative;
  display: inline-block;
  margin-bottom: 10%
}

.first.col {
  position: absolute;
  left: 5%;
  top: 5%;
  text-align: center;
  width: 35%;
  padding-right: 5%;
}

.col img {
  width: 100%;
  height: 160px;
  padding-bottom: 20px;
}

#learnmore a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border: 1px solid #ff7a59;
  background: #fe7a59;
  padding: 10px 25px;
  border-radius: 5px;
  width: 40%;
}

.second.col {
  position: absolute;
  right: 5%;
  top: 15%;
  width: 60%;
  padding-left: 5%;
  list-style: none;
}

.col h3 {
  font-size: 20px;
  margin-bottom: 3%;
}

.col p {
  line-height: 1.5;
  font-weight: lighter;
  font-size: 15px;
}

p.divisorio {
  font-weight: 600;
  margin: 3% 0;
  position: relative;
}

.divisorio::after {
  content: '';
  position: absolute;
  height: 8px;
  margin-left: 45px;
  border-bottom: 1px solid #afb2b5;
  top: 4px;
  width: 60%;
}

.second.col li {
  display: inline-block;
  margin-right: 20px;
}

.second.col i {
  color: #fe7a59;
}

/* Learn and grow */

.grow {
  background-color: grey;
  height: 650px;
}

/* Customers */

.customers {
  background-color: purple;
  height: 200px;
}

/* Start */

.start {
  background-color: pink;
  height: 400px;
}

/* Footer */

.total {
  height: 500px;
  background-color: lightblue;
}
