/* Regole generali pagina */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0px 20px;
}

.container::after {
  content: "";
  display: table;
  clear: both;
}

/* first header */

.firstheader {
  background-color: #f5f8fa;
  border-bottom: 2px solid #cbd6e2;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1;
}

.firstheader * {
  text-decoration: none;
}

/* Left firstheader */

.left {
  float: left;
  padding: 25px 0px;
}

.language, .contact a {
  color: #33475b;
  font-size: 15px;
  font-weight: 500;
  display: inline-block;
}

.language {
  font-family: inherit;
  padding-left: 8px;
}

.fas .fa-angle-down {
  font-size: 17px;
  transform: scale(1, .7);
  margin: 0 0 0 2;
}

.lang {
  padding-right: 20px;
  position: relative;
  width: 100%;
}

.contact {
  padding-left: 20px;
  border-left: solid 2px #cbd6e2;
}

.listlang {
  display: none;
  position: absolute;
  left: 30%;
  background-color: #fff;
  border: 1px solid #cbd6e2;
  border-radius: 2px;
  width: 100%;
  padding: 10px 0px;
  list-style: none;
}

.listlang a {
  font-weight: 500;
  color: #33475b;
  font-size: 15px;
}

.listlang li {
  padding: 5px 0px 5px 20px;
}

.listlang li:hover {
  background: #e5f5f8;
}

.lang:hover .listlang {
  display: block;
}

/* Right firstheader */

.right {
  float: right;
  padding: 25px 0px;
}

.search i {
  color: #00a4bd;
  margin: 0px 20px
}

.login a {
  color: #fe7a59;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 25px;
  border: 1px solid #ff7a59;
  background: white;
  margin: 0px 5px;
  border-radius: 5px;
}

.get a {
  color: white;
  font-size: 15px;
  font-weight: 500;
  border: 1px solid #ff7a59;
  background: #fe7a59;
  padding: 10px 10px;
  margin: 0px 5px;
  border-radius: 5px;
}

.login {
  margin-right: 10px;
}

/* Second header */

nav {
  margin-top: 60px;
  height: 75px;
}

.container nav {
  position: relative;
}

nav img {
  position: absolute;
  top: 40%;
  /* transform: translate(0%, -50%); */
}

nav ul {
  float: right;
}

nav li {
  display: inline-block;
  padding: 30px 20px;
}

nav select, nav a {
  border: none;
  font-size: 17px;
  font-weight: 400;
  text-decoration: none;
  color: #39475b;
}

nav select:hover, nav a:hover {
  color: grey;
}

/* Main */

/* Cover */

.cover {
  background-color: #fff5ef;
  position: relative;
  background-image: url("../img/jumbotron.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
  height: 694px;
}

.cover .container {
  padding-top: 50px;
}

.titlebox {
  width: 35%;
  position: absolute;
  top: 50px;
}

h1 {
  line-height: 1.3;
  font-size: 40px;
  color: #525252;
}

.titlebox p {
  font-size: 15px;
  margin-top: 20px;
  line-height: 1.9;
  font-weight: 300;
}

.titleget a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border: 1px solid #ff7a59;
  background: #fe7a59;
  padding: 20px 30px;
  border-radius: 5px;
}

.titleget {
  margin-top: 50px;
}

#get-comment {
  font-size: 13px;
  margin-top: 50px;
  font-weight: 300;
}

/* Offers */

.offers {
  background-color: #f5f8fa;
  padding-bottom: 2%;
}

/* Cubo e testo */

#cubo {
  text-align: center;
  padding: 4% 0 0 0;
  width: 90%;
  margin: 0 auto;
}

#cubo img {
  width: 20%;
}

.offers h2 {
  font-size: 30px;
  color: #525252;
}

#cubo p {
  margin-top: 3%;
  line-height: 1.7;
  font-weight: 300;
}

/* Learn more */

.more::after {
  content: "";
  display: table;
  clear: both;
}

.more {
  width: 100%;
  background: white;
  margin: 5% 0 5% 0;
  padding: 7%;
}

.first.col {
  text-align: center;
  width: 35%;
  padding-right: 5%;
  float: left;
}

.col img {
  width: 60%;
  margin-bottom: 5%;
  padding-bottom: 10%;
}

#learnmore a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border: 1px solid #ff7a59;
  background: #fe7a59;
  padding: 20px 30px;
  border-radius: 5px;
  width: 40%;
}

.second.col {
  float: left;
  width: 60%;
  padding-top: 2%;
  list-style: none;
}

.col h3 {
  font-size: 20px;
  margin-bottom: 3%;
  color: #525252;
}

.col p {
  line-height: 1.5;
  font-size: 15px;
  font-weight: 300;
}

p.divisorio {
  color: #525252;
  font-weight: 600;
  margin: 3% 0;
  position: relative;
}

.divisorio::after {
  content: '';
  position: absolute;
  height: 8px;
  margin-left: 30px;
  border-bottom: 1px solid #afb2b5;
  top: 4px;
  width: 65%;
}

.second.col li {
  display: inline-block;
  margin-right: 20px;
}

.second.col i {
  color: #fe7a59;
  padding-right: 2%;
}

/* Feature */

.feature {
  width: 100%;
}

.popular {
  background: white;
  border-radius: 4px;
  width: calc((100% / 3) - 4%);
  float: left;
  padding: 3%;
  margin-bottom: 36;
}

.popular img {
  width: 100%;
  height: 100px;
}

.popular.plus {
  margin: 0 6% 0 6%;
}

.popular h3 {
  text-align: center;
  margin-top: 7%;
  font-size: 25px;
  color: #525252;
}

.popular h4 {
  text-align: center;
  margin-top: 20%;
  font-size: 18px;
  color: #525252;
}

.popular p {
  font-size: 13px;
  margin-top: 10%;
  line-height: 1.8;
  text-align: center;
  border-bottom: 2px #ababab solid;
  padding-bottom: 40%;
  font-weight: 300;
}

.popular ul {
  list-style: none;
  margin-top: 10%;
  margin-bottom: 20%;
}

.popular li {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
}

.listitem i {
  color: #fe7a59;
  float: left;
  margin-right: 5%;
}

.buttom a {
  color: white;
  font-size: 15px;
  font-weight: 500;
  border: 1px solid #ff7a59;
  background: #fe7a59;
  padding: 15px 25px;
  margin: 0px 5px;
  border-radius: 5px;
  text-decoration: none;
}

.buttom {
  text-align: center;
}

/* Learn and grow */

.grow {
  background-color: #32a798;
  padding-bottom: 7%;
}

.grow .intro {
  text-align: center;
  padding: 5%;
  color: white;
  font-weight: 500;
}

.intro h2 {
  font-size: 26px;
  padding-bottom: 3%;
}

.intro p {
  font-size: 13px;
  line-height: 1.8;
}

.tab {
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  width: 25%;
  text-align: center;
  padding: 30px;
  float: left;
}

.icons {
  height: 40px;
  margin-bottom: 15px;
}

.icon {
  max-width: 150px;
  max-height: 100%;
  margin: auto;
}

.number {
  position: relative;
  padding-right: 10px;
  margin: 0 0 5px;
  font-size: 2.5em;
  color: #fff;
  display: inline-block;
  line-height: 1em;
  font-weight: 700;
  padding-bottom: 15px;
}

.description {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}

.tab:nth-child(4n) {
  border-right: none;
}

.tab:nth-child(n+5) {
  border-bottom: none;
}

.tab  span {
  font-size: 25px;
}

/* Customers */

.customers .container {
  padding: 50px 0px;
}

.counter {
  width: 25%;
  padding: 0 30px;
  display: inline-block;
  vertical-align: middle;
}

.counter h2 {
  font-size: 40px;
  margin: 0 0 25px;
  color: #525252;
}

.counter p {
  font-size: 15px;
  margin-top: 8%;
  line-height: 1.6;
}

p span {
  font-weight: bold;
  color: #525252;
}

.loghi {
  width: 60%;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10%;
}

.logo img {
  vertical-align: middle;
  width: 100%;
}

.logo {
  width: 25%;
  height: auto;
  float: left;
  padding: 3%;
}

/* Start */

.start .container {
  padding-bottom: 5%;
}

.start .sx{
  display: inline-block;
  vertical-align: middle;
  width: 45%;
}

.sx h2 {
  font-size: 30px;
  line-height: 1.2;
  padding-bottom: 4%;
  color: #525252;
}

.sx p {
  margin: 20px 0px;
  line-height: 1.5;
}

.sx .buttom {
  margin: 40px 0px;
  text-align: left;
}

.buttomtext {
  font-size: 12px;
  color: #33475b;
  font-weight: 500;
  line-height: 1.4;
}

.dx {
  display: inline-block;
  text-align: right;
  vertical-align: middle;
  width: 54%;
}

.dx img {
  width: 60%;
}

/* Footer */

/* Foot Higher */

.total {
  background-color: #33475b;
}

.footerlist {
  float: left;
  width: 24%;
  margin: 5% 1% 20% 0;
  padding-right: 0.5%;
}

.footerlist h5 {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.8;
  color: white;
}

.footerlist ul {
  list-style: none;
}

.footerlist li {
  padding: 5% 0;
}

.footerlist a {
  text-decoration: none;
  color: #cbd6e2;
  font-size: 14px;
  font-weight: bold;
}

.footerlist a:hover {
  color: #72a1d0;
}

#whitebuttom a {
  text-align: center;
  border-radius: 5px;
  background-color: #fff;
  color: #33475b;
  padding: 5% 5%;
  font-size: 14px;
  font-weight: 500;
}

#whitebuttom {
  margin-top: 10%;
}

.social i {
  padding: 13% 4%;
  color: #cbd6e2;
}

.social i:hover {
  color: #72a1d0;
}

/* Foot Center */

.center {
  text-align: center;
  padding-bottom: 5%;
  border-bottom: solid 1px #cbd6e2;
}

.center span {
  display: inline-block;
  padding-right: 3%;
}

.center a {
  color: white;
  text-decoration: none;
  font-weight: 300;
}

.center a:hover {
  color: #72a1d0;
}

/* Footer Lower */

.lower {
  padding: 2% 0;
  margin-bottom: 5%;
}

.lower p {
  font-size: 15px;
  color: #ececec;
}

#copyright {
  float: left;
}

#legal {
  float: right;
  font-weight: 500;
  padding: 8%;
  color: #cbd6e2;
}

#legal {
  padding: 1% 5% 8% 0;
}

#legal a {
  text-decoration: none;
  color: #cbd6e2;
  padding: 10px;
}

#legal a:hover {
  color: #72a1d0;
}
